/* TODO Add site wide styles */

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: "";
}
abbr,
acronym {
    border: 0;
}

/* CSS reset */

/* Login/Signup Styling */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px 15px 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding: 5px 0 5px 0;
}

#submit {
    margin-top: 10px;
    height: 30px;
}

#submit,
#demo,
.input-field {
    width: 300px;
}

#demo {
    margin: 20px 0 10px 0;
    height: 30px;
}

.errors {
    color: red;
    padding: 5px 0 5px 0;
    font-size: 14px;
}

#title {
    padding-bottom: 5px;
    font-size: 18px;
}

.box-dec-1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    margin: 8px 8px;
    padding: 18px 18px;
}

/* CSS */
.button-main {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    /* display: inline-block; */
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-main:hover,
.button-main:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.button-main:active {
    opacity: 0.5;
}

/* CSS */
.button-alt {
    background-color: #ffffff;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-alt:hover {
    background-color: rgb(249, 250, 251);
}

.button-alt:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-alt:focus-visible {
    box-shadow: none;
}

#nav-container {
    margin: 0px 20px 0px 30px;
}
#nav-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-logo {
    height: 48px;
}

#nav-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.subreddit-short-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color: #dae0e6;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.subreddit-short-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
}

.card-info {
    flex-grow: 1;
    padding: 15px 0px 15px;
}

.card-category {
    align-self: flex-end;
}

.subreddit-preview-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.subreddit-title-preview {
    display: flex;
    align-items: center;
}

.subreddit-preview-creator {
    color: grey;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {
    .subreddit-short-main-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
