/* TODO Add site wide styles */

/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
}
address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: "";
}
abbr,
acronym {
    border: 0;
}

/* CSS reset */

/* Login/Signup Styling */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px 15px 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding: 5px 0 5px 0;
}

#submit {
    margin-top: 10px;
    height: 30px;
}

#submit,
#demo,
.input-field {
    width: 300px;
}

#demo {
    margin: 20px 0 10px 0;
    height: 30px;
}

.errors {
    color: red;
    padding: 5px 0 5px 0;
    font-size: 14px;
}

#title {
    padding-bottom: 5px;
    font-size: 18px;
}

.box-dec-1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    margin: 8px 8px;
    padding: 18px 18px;
}

/* CSS */
.button-main {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    /* display: inline-block; */
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-main:hover,
.button-main:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.button-main:active {
    opacity: 0.5;
}

/* CSS */
.button-alt {
    background-color: #ffffff;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-alt:hover {
    background-color: rgb(249, 250, 251);
}

.button-alt:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-alt:focus-visible {
    box-shadow: none;
}

.button-join {
    align-items: center;
    background-color: #0a66c2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
        "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
        color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-join:hover,
.button-join:focus {
    background-color: #16437e;
    color: #ffffff;
}

.button-join:active {
    background: #09223b;
    color: rgb(255, 255, 255, 0.7);
}

.button-join:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
}

.button-leave {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
        "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
        "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    min-height: 30px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button-leave:hover {
    background: #f6f9fe;
    color: #174ea6;
}

.button-leave:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-leave:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-leave:not(:disabled) {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
        rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-leave:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
        rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-leave:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
        rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-leave:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
        rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-leave:disabled {
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
        rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

#nav-container {
    margin: 0px 20px 0px 30px;
}
#nav-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-logo {
    height: 48px;
}

#nav-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.subreddit-short-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 20px;
    background-color: #dae0e6;
    padding-bottom: 20px;
    /* margin-left: 20vw;
    margin-right: 20vw; */
    border-radius: 5px;
}

.subreddit-short-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 600px;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 10px 10px 0px;
}

.card-info {
    padding: 0px 0px 15px;
    font-size: 19px;
    align-self: flex-start;
}

.card-category {
    align-self: flex-end;
    font-size: 18px;
}

.subreddit-preview-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.subreddit-title-preview {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.subreddit-preview-creator {
    color: grey;
    font-size: 16px;
}

.act-subreddit-btn {
    /* justify-self: flex-end; */
    /* align-self: flex-end; */
    /* margin: 0 auto; */
    position: relative;
    left: 230px;
    bottom: 40px;
}

.subreddit-abridged-top {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .subreddit-short-main-container {
        margin-left: 10px;
        margin-right: 10px;
    }
    .act-subreddit-btn {
        position: revert;
    }
}
